body 
{
    background: #F2F2F2;
    margin: 0;
    font-family: 'Poppins';
}

/* Style the header */
.header {
    margin: 0;
    padding: 5px;
    background: #F2F2F2;
    color: #f2f2f2;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }

.hero .container 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
}

.container .left-col 
{
    margin: 3em 3em 0 5em;
}

.container .left-col h1 
{
    font-size: 3em;
    width: 90%;
}

.hero-img 
{
    width: 70%;
    margin-top: 3em;
    margin-left: 20%;
}

@media only screen and (min-width: 768px) 
{
    .navbar .container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 180px auto;
            grid-template-columns: 180px auto;
        -webkit-box-pack: unset;
            -ms-flex-pack: unset;
                justify-content: unset;
      }
      .navbar nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
      }
      .navbar nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
      .navbar nav a {
        color: black;
        font-size: 1em;
        padding: .1em 1em;
      }
      .navbar nav ul.primary-nav {
        margin: 0;
      }
      .navbar nav li.current a {
        font-weight: bold;
      }
      .navbar nav li.go-premium-cta a {
        color: var(--primary-color);
        border: 3px solid var(--primary-color);
        font-weight: bold;
        border-radius: 5em;
        margin-top: -.2em;
      }
      .navbar nav li.go-premium-cta a:hover {
        background: var(--primary-color);
        color: white;
      }
}

@media only screen and (min-width: 1080px) 
{
    .container 
    {
        width: 1080px;
        margin: 0 auto;
    }
    
    section 
    {
        padding: 10em 4em;
    }
    
    .hero .container 
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        /* text-align: left; */
    }
    
    .hero .container .left-col 
    {
        margin: 3em 3em 0 5em;
    }
    
    .hero .container .left-col h1 
    {
        font-size: 3em;
        width: 90%;
    }
    
    .hero-img 
    {
        width: 20%;
        margin-right: 8em;
        margin-left: 10%;
    }
}

@media only screen and (min-width: 1450px) 
{

}