:root 
{
  --primary-color: #ff970e;
  --secondary-color: rgb(0, 38, 119);
}

.gradient
{
  background: rgb(0,36,34);
  background: linear-gradient(90deg, rgba(0,36,34,1) 0%, rgba(59,0,255,0.804359243697479) 100%, rgba(9,9,121,1) 100%);
}

.gradient-pri
{
  background: rgb(35,36,0);
  background: linear-gradient(90deg, rgba(35,36,0,1) 0%, rgba(127,0,255,0.7063200280112045) 50%, rgba(121,108,9,1) 100%);
}

body
{
  height: 100%;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 64, 255, 0.566);
}

.navbar .logo {
  text-decoration: none;
  font-weight: bolder;
  color: rgb(63, 67, 70);
  font-size: 1.4em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar
{
  box-shadow: 0 0 8px rgb(22, 34, 50);
}

.navbar a:hover
{
  font-weight: bolder;
}

.navbar-brand
{
  width: 28rem;
}

.navbar-brand img
{
  width: 20%;
  height: auto;
}

.hero 
{
  text-align: center;
}

.page-header
{
  margin-top: 4rem;
  font-size: 1.25rem;
  color: #fff;
}

.feature span
{
  color: var(--primary-color);
}

.feature
{
  color: var(--secondary-color);
  background-color: #fff;
}

.feature ul
{
  padding-left: 2rem;
  list-style-type: none;
}

.feature ul li
{
  padding-left: 2rem;
  background-image: url(../images/bullet.svg);
  background-repeat: no-repeat;
  line-height:1.8rem;
  margin-bottom: 1rem;
}

.contacts .container
{
  padding-left: 20rem;
}

.col-md-4 img
{
  width: 10rem;
  opacity: 2;
}

.col-md-4 img:hover
{
  color: #fff;
  cursor: pointer;
  inherits: #fff;
}


.contact 
{
  padding-bottom: 10rem;
  color: var(--secondary-color);
  background-color: #fff;
}

.contact span
{
  color: var(--primary-color);
}

footer
{
  color: #fff;
  background-color: var(--secondary-color);
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}

footer span
{
  color: var(--primary-color);
}



/* .contact:before 
{
  content: '';
  position: absolute;
  width: 15%;
  height: 20em;
  background: rgb(14, 100, 137);
  left: 0;
  top: 107em;
}

.contact:after 
{
  content: '';
  position: absolute;
  width: 200px;
  height: 20em;
  background: url("../images/logo.png") no-repeat;
  left: 7em;
  top: 109em;
}  */

